
<div class="main-wrapper" >
  
  <mat-card class="box">
    <mat-card-header>
      <h2>Ticket Generation</h2>
    </mat-card-header>

       
      <mat-card-content>
        <form class="example-form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" novalidate>
          
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Subject" name="subject" ngModel required >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Priority</mat-label>
          <mat-select  ngModel name="priority" >
            <mat-option value="High">High</mat-option>
            <mat-option value="Medium">Medium</mat-option>
            <mat-option value="Low">Low</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field >
          
          <textarea matInput placeholder="Description" name="description" ngModel ></textarea>
        </mat-form-field>
      
      <button mat-stroked-button color="accent" [disabled]="!myForm.valid" >SUBMIT</button>
    </form>
  </mat-card-content>
  </mat-card>

</div>
<!-- <div class="scrollable">
  <mat-card *ngFor="let i of items.slice().reverse();let in=index;" (click)="detailedup(i)"  >
    <button class="close" mat-button (click)="onNoClick(in);$event.stopPropagation()"  >X</button><br>
    Subject: &nbsp;{{i.subject}}<span id="date">Date: {{todayNumber|date}} </span>
    <br>
   Priority: &nbsp;
    <span [style.color]="i.options==='High' ? 'red':(i.options==='Medium'?'green':'blue')">
    {{i.options}}</span>
    <br>
    <br>
    Description:<br>{{i.description}}
    <br>
  </mat-card> -->

