#maincon{
    border-radius: 8px;
    
}
.heading{
    text-align: center;
    background-color: #788291;
    
    margin: 0!important;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    
    margin-top: 0px;
    
    
    
  }
  #date{
      float:right;
  }
  mat-form-field{
      width:500px;
      border-radius: 0;
      text-align: center;
      
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color:white;
    border-radius: 8px;
  }
  #subbtn{
      background-color: rgb(59, 72, 184) !important;
      align-self: flex-end !important;
      margin-right:430px !important;
      color: white !important;
  }
  mat-card{
      width:800px ;
      border:none;
      border-radius: 8px!important ;
      margin-bottom: 10px!important;
  }
  .matcar{
      margin-left: 200px;
  }
 
  .close{
      background-color:white!important;
      margin-left: 752px !important;
    margin-bottom: 10px;
    color: black !important;
    
}
.scrollable {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  margin:0 auto;
  
}
button:disabled,#subbtn{
    background-color: grey !important;
}
 

      
  