<div id="maincon"><h2 class="heading">Ticket Generation App</h2>
  <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit();regiForm.reset()" >
<mat-form-field appearance="outline" >
   
    
    <input placeholder="Subject" matInput  formControlName="subject" required #sub>
     
      <mat-error ><span *ngIf="regiForm.dirty && regiForm.controls.subject.errors?.required">Please enter Subject !!!</span></mat-error>  
  </mat-form-field>
  <mat-form-field appearance="outline" >
   
    <mat-select placeholder="Priority"  formControlName="priority" required #option>
      <mat-option value="High">High</mat-option>
      <mat-option value="Medium">Medium</mat-option>
      <mat-option value="Low">Low</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" >
    
    <textarea placeholder="Description" matInput  maxlength="100" (input)="onDesInput(des.value)" formControlName="description" required #des></textarea>
    <mat-hint >{{des.value?.length || 0}}/100</mat-hint>   
     
  </mat-form-field>
  <button mat-button (click)="reset()">Reset</button>
  <button mat-button  [disabled]="!regiForm.valid" id="subbtn">Submit</button>
  
  <br>
  </form>
  <div class="scrollable">
  <mat-card *ngFor="let i of items.slice().reverse();let in=index;" (click)="detailedup(in)" class="matcar" >
    <button class="close" mat-button (click)="onNoClick(in);$event.stopPropagation()"  >X</button><br>
    Subject: &nbsp;{{i.subject}}<span id="date">Date: {{i.date|date:'short'}} </span>
    <br>
   Priority: &nbsp;
    <span [style.color]="i.priority==='High' ? 'red':(i.priority==='Medium'?'green':'blue')">
    {{i.priority}}</span>
    <br>
    <br>
    Description:<br>{{i.description}}
    <br>
  </mat-card>
  <br>
  </div>
</div>