<div id="maincon"><h2>Ticket Generation App</h2>
  <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)" >
<mat-form-field appearance="outline" >
   
    
    <input placeholder="Subject" matInput  formControlName="subjects" required #sub>
     
      <mat-error ><span *ngIf="regiForm.controls.subjects.errors?.required">Please enter First Name !!!</span></mat-error>  
  </mat-form-field>
  <mat-form-field appearance="outline" >
   
    <mat-select placeholder="Priority"  formControlName="priority" required #option>
      <mat-option value="High">High</mat-option>
      <mat-option value="Medium">Medium</mat-option>
      <mat-option value="Low">Low</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" >
    
    <textarea placeholder="Description" matInput  maxlength="100" (input)="onDesInput()" formControlName="desc" required #des></textarea>
    <mat-hint >{{des.value?.length || 0}}/100</mat-hint>   
     <!-- <mat-error *ngIf="des.value.length==100">{{openSnackBar('limit 100 reached','ok')}}</mat-error>   -->
  </mat-form-field>
  <button mat-button  [disabled]="!regiForm.valid" >Submit</button>
  
  <br>
  </form>
  <div class="scrollable">
  <mat-card *ngFor="let i of items.slice().reverse();let in=index;" (click)="detailedup(in)"  >
    <button class="close" mat-button (click)="onNoClick(in);$event.stopPropagation()"  >X</button><br>
    Subject: &nbsp;{{i.subject}}<span id="date">Date: {{todayNumber|date}} </span>
    <br>
   Priority: &nbsp;
    <span [style.color]="i.options==='High' ? 'red':(i.options==='Medium'?'green':'blue')">
    {{i.options}}</span>
    <br>
    <br>
    Description:<br>{{i.description}}
    <br>
  </mat-card>
  <br>
  </div>
</div>